:root {
  font-family: "poppins", sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
* {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.about--arrows {
  display: flex;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 2rem;
}
.right--arrows {
  height: 70px;
  width: 70px;
  cursor: pointer;
}
.left--arrows {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

/* NavBar Section  */
.nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: auto;
  background-color: #343a40;
}
.div--logo {
  height: 80px;
  width: 80px;
  margin-left: 5.5rem;
}
.logo {
  height: 80px;
  width: 80px;
}
.div--content {
  display: flex;
  flex-direction: row;
  margin-left: 600px;
  padding-top: 10px;
}
.nav--ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav--li {
  margin-left: 2.5rem;
  font-size: 20px;
  list-style: none;
  font-weight: 600;
}
li:hover {
  text-decoration: underline 3px solid #c96ce3;
  cursor: pointer;
}

/* About Section */
.about--section {
  margin-top: 9rem;
  margin-left: 2rem;
  display: flex;
  margin-bottom: 5rem;
}
.about--title {
  font-family: monospace;
  font-size: 3.5em;
  color: #c96ce3;
}

.about--content {
  margin-top: 1rem;
  font-size: 2.5em;
}
.about--para {
  margin-top: 1rem;
}
.about--btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  margin-top: 3rem;
  height: 3rem;
  width: 10rem;
  background-color: #c96ce3;
  font-size: 1em;
  border: none;
  border-radius: 2px;
}
.about--btn:hover {
  background-color: transparent;
  border: 3px solid #c96ce3;
  cursor: pointer;
}
.about--profileImage {
  margin-left: 10rem;
  border-radius: 200px;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}

/* Intro Section */
.intro--div {
  margin-bottom: 5rem;
}
.intro--section {
  display: flex;
}
.intro--title,
.project--title {
  font-family: monospace;
  padding-bottom: 3rem;
  font-size: 6em;
  color: #c96ce3;
}
.intro--gif {
  height: 400px;
  width: 400px;
  margin-left: 5rem;
}
.intro--content {
  margin-left: 10rem;
  margin-right: 5rem;
}
.intro--para {
  padding-bottom: 2rem;
  font-size: 1.2em;
  text-align: left;
}
.intro--tech {
  text-align: left;
  color: #c96ce3;
  font-size: 3em;
  font-family: monospace;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.intro--techStack {
  text-align: left;
}
.intro--li {
  margin-left: 1.2rem;
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.8em;
}
.intro--li:hover {
  font-size: 1.8em;
}

/* Projects */
.project--container {
  display: flex;
  margin-bottom: 5rem;
}
.project--img {
  height: 400px;
  width: 800px;
  background-size: cover;
  background-image: url(./images/Project-1.jpg);
  margin-left: 5rem;
  border-radius: 10px;
}
.project--img-2 {
  margin-left: 1rem;
  border-radius: 10px;
  background-size: cover;
  background-image: url(./images/project-2.jpg);
}
.project--img-3 {
  height: 400px;
  width: 800px;
  background-size: cover;
  background-image: url(./images/Project-3.jpg);
  margin-left: 5rem;
  border-radius: 10px;
}
.project--overlay {
  height: 400px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(201, 108, 227, 0.5);
}
.project--overlay:hover {
  cursor: pointer;
  background-color: transparent;
}

.desc--title {
  color: #c96ce3;
  margin-left: 16rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-size: 2em;
  cursor: pointer;
}
.desc--title-2 {
  color: #c96ce3;
  margin-right: 16rem;
  margin-left: 7rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-size: 2em;
  cursor: pointer;
}
.desc--para {
  margin-left: 2rem;
  height: 100px;
  width: 400px;
  background-color: #343a40;
  position: absolute;
  padding-top: 10px;
  border-radius: 10px;
}
.desc--para-2 {
  margin-left: 7rem;
  height: 120px;
  width: 400px;
  background-color: #343a40;
  position: absolute;
  padding-top: 10px;
  border-radius: 10px;
}
.desc--para-3 {
  margin-left: 3rem;
  height: 100px;
  width: 420px;
  background-color: #343a40;
  position: absolute;
  padding-top: 10px;
  border-radius: 10px;
}
.desc--para p {
  margin-bottom: 1rem;
}
.desc--para-2 p {
  margin-bottom: 1rem;
}
.desc--para-3 p {
  margin-bottom: 1rem;
}
.project--links {
  height: 25px;
  width: 25px;
  margin-left: 22rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.project--links-2 {
  height: 25px;
  width: 25px;
  margin-right: 22rem;
  cursor: pointer;
}
/* Blogs page */
.blog-container {
  display: flex;
  margin-bottom: 3rem;
}
.blog--image {
  margin-left: 5rem;
}
.blog--title {
  font-family: monospace;
  font-size: 3.5em;
  color: #c96ce3;
  margin-bottom: 3rem;
}
.blog-1--image {
  height: 360px;
  width: 660px;
}
.blog--writing {
  margin-left: 2rem;
  height: 100px;
  width: 600px;
  text-align: left;
}
.blog--readmore {
  margin-top: 2rem;
}
.blog--readmore p {
  font-family: monospace;
  font-size: 2.5em;
  color: #c96ce3;
  cursor: pointer;
  text-align: left;
}
/* CONTACT PAGE */
.contact--title {
  font-family: monospace;
  font-size: 3.5em;
  color: #c96ce3;
  margin-bottom: 3rem;
}
.contact--links {
  margin-top: 8rem;
}
.contact--links p {
  color: #c96ce3;
  font-size: 1.5em;
}
.contact--links a {
  text-decoration: none;
  color: #b9fbc0;
  font-size: 1em;
}
.contact--links a:hover {
  text-decoration: 3px solid underline #c96ce3;
}
.contact--para {
  height: 100px;
  width: 600px;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 1.2em;
  text-align: left;
}
.contact--socials {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.contact--socials img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.footer-container {
  margin-top: 3rem;
  background-color: #343a40;
  height: 11rem;
  padding: 20px;
}
.footer-container p {
  font-weight: 700;
  font-family: monospace;
  font-size: 1.5em;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  /* HOME PAGE */

  .nav {
    max-width: 768px;
    background-color: transparent;
  }
  .div--logo {
    margin-left: 4rem;
  }
  .div--content {
    margin-left: 70px;
  }
  .nav--li {
    margin-left: 1.5rem;
  }
  .about--section {
    display: flex;
    flex-direction: column-reverse;
  }
  .about--heading {
    margin-left: 4rem;
    height: 100px;
    width: 400px;
  }
  .about--title {
    font-size: 3em;
    margin-top: 5rem;
  }
  .about--content {
    font-size: 1.5em;
  }
  .about--profileImage {
    height: 300px;
    width: 300px;
    margin-left: 8rem;
  }
  /* INTRO PAGE */
  .intro--section {
    display: flex;
    flex-direction: column;
  }
  .intro--gif {
    height: 100px;
    width: 100px;
    margin-left: 3rem;
  }
  .intro--title,
  .project--title {
    font-size: 4em;
  }
  .intro--content {
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: 20rem;
  }
  /* Blog */
  .blog-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .blog--image {
    margin-left: 3rem;
  }
  .blog--writing {
    margin-left: 5rem;
    margin-bottom: 5rem;
    height: 200px;
    width: 600px;
    text-align: left;
  }
}
